/* $Id: druplus.css,v 1.0 2010/06/15 16:11:07 websule Exp $ */

#druplus-master-settings .form-item .form-checkbox{
	display:none;
}

#druplus-master-settings span.dp_enabled{
	background:url(images/checked.gif) no-repeat 0 4px;
	padding-left:20px;
	display:block;
	margin-left:7px;
}

#druplus-master-settings span.dp_disabled{
	background:url(images/unchecked.gif) no-repeat 0 4px;
	padding-left:20px;
	display:block;
	margin-left:7px;
}

#druplus-master-settings span.dp_missing{
	background:url(images/download.gif) no-repeat 0 4px;
	display:block;
	margin-left:7px;
	padding-left:20px;
}

#druplus-master-settings .form-item {
	display:block;
	margin:0.5em 0px;
}

#druplus-master-settings .form-item .description {
	border-bottom:1px dotted #F4F4F4;
	margin-bottom:5px;
	padding-bottom:0.25em;
}

#druplus-master-settings .master_disabled{
	display:block;
	padding:0px 5px 10px 30px;
	margin:3px 0px;
	background:url(images/mods_off.gif) no-repeat 5px 1px;
	border-bottom:1px solid #eee;
	font-size:13px;
	color:#555;
}

#druplus-master-settings .master_enabled{
	display:block;
	padding:0px 5px 10px 30px;
	margin:3px 0px;
	background:url(images/mods_on.gif) no-repeat 5px 0px;
	border-bottom:1px solid #eee;
	font-size:13px;
	color:#006400;
}

#druplus-master-settings .master_disabled a{
	color:#027AC6;
	cursor:pointer;
}

#druplus-master-settings div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
	padding:0.5em;
}

#druplus-master-settings .addons{
	background:url(images/addons.gif) no-repeat;
	border-bottom:1px solid #EEEEEE;
	color:#777777;
	display:block;
	font-size:12px;
	font-weight:bold;
	padding:0 5px 5px 23px;
	margin-left:5px;
}


#admin-menu{
	font-family:Tahoma;
	font-size:12px;
}

.screenshot{
	border:1px solid #ccc;
	padding:2px;
}

